@model IEnumerable<dynamic>
@{
    List<string> BreadCrumb = new List<string>();
    BreadCrumb.Add("<a href='/Contracts/Index' class='breadcrumb-item'>Hợp đồng</a>");
    BreadCrumb.Add("<span class='breadcrumb-item active'> Tạo mới</span>");
    ViewBag.BreadCrumb = BreadCrumb;
}
<script src="~/assets/js/vendor/ui/moment/moment.min.js"></script>
<script src="~/assets/js/vendor/pickers/daterangepicker.js"></script>
<script src="~/assets/js/vendor/pickers/datepicker.min.js"></script>
<script src="~/assets/js/vendor/forms/selects/select2.min.js"></script>
<div class="content" ng-controller="IndexController">
    <div>
        <div class="col-lg-5">
            <ul class="nav nav-tabs nav-tabs-highlight nav-justified">
                <li id="tabtab1" class="nav-item"><a href="#" class="nav-link" onclick="openTab(event, 'Tab1')">Hợp Đồng</a></li>
                <li id="tabtab2" class="nav-item"><a href="#" class="nav-link" onclick="openTab(event, 'Tab2')">Dịch Vụ</a></li>
                <li id="tabtab3" class="nav-item"><a href="#" class="nav-link " onclick="openTab(event, 'Tab3')">Chi Tiết Dịch Vụ</a></li>
            </ul>
        </div>
        <div class="card card-body">
            <div>
                <div id="Tab1" class="tabcontent">
                    <div>
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="mb-3">
                                    <label class="form-label" for="contractNumber">Số Hợp Đồng:</label>
                                    <input class="form-control" type="text" placeholder="Số Hợp Đồng" id="contractNumber">
                                </div>
                            </div>

                            <div class="col-lg-4">
                                <div class="mb-3">
                                    <label class="form-label">Loại Hợp Đồng:</label>
                                    <select class="form-control select" data-minimum-results-for-search="Infinity">
                                        @if (ViewBag.ContractTypes != null)
                                        {
                                            @foreach (var contracttype in ViewBag.ContractTypes)
                                            {
                                                <option value="@contracttype.Contract_Type_ID">@contracttype.Contract_Type_Name</option>
                                            }
                                        }
                                        else
                                        {
                                            @* <p>Danh sách trống.</p> *@
                                            <option>Danh sách trống</option>
                                        }
                                    </select>
                                </div>
                            </div>

                            <div class="col-lg-4">
                                <div class="mb-3">
                                    <label class="form-label" for="customerCompanyName">Tên Công Ty:</label>
                                    <input class="form-control" type="text" placeholder="Tên Công Ty" id="customerCompanyName">
                                </div>
                            </div>

                            <div class="col-lg-4">
                                <div class="mb-3">
                                    <label for="address">Địa Chỉ Công Ty:</label>
                                    <input class="form-control" type="text" placeholder="Xuất hoá đơn" id="address">
                                </div>
                            </div>

                            <div class="col-lg-4">
                                <div class="mb-3">
                                    <label for="address">Địa Chỉ Liên Hệ:</label>
                                    <input class="form-control" type="text" placeholder="Gửi thư, thông báo" id="address2">
                                </div>
                            </div>

                            <div class="col-lg-4">
                                <div class="mb-3">
                                    <label for="phone">Điện Thoại:</label>
                                    <input class="form-control" type="text" placeholder="09(xxxx)" id="phone">
                                </div>
                            </div>

                            <div class="col-lg-4">
                                <div class="mb-3">
                                    <label for="mobilePhone">Đại Diện:</label>
                                    <input class="form-control" type="text" placeholder="09(xxxx)" id="companyRepresentative">
                                </div>
                            </div>

                            <div class="col-lg-4">
                                <div class="mb-3">
                                    <label for="tin">Mã Số Thuế:</label>
                                    <input class="form-control" type="text" placeholder="Mã số Thuế" id="tin">
                                </div>
                            </div>

                            <div class="col-lg-4">
                                <div class="mb-3">
                                    <label for="email">Email:</label>
                                    <input class="form-control" type="text" placeholder="abc@gmail.com" id="email">
                                </div>
                            </div>

                            @*<div class="text-end">
                            <button type="submit" class="btn btn-primary" id="saveButtonC"><i class="ph-paper-plane-tilt ms-2"></i>Thêm hợp đồng</button>
                            </div>*@

                            <div class="text-end">
                                <button type="submit" ng-click="searchEmployees()" onClick="return false;" class="btn btn-primary">
                                    <i class="ph-paper-plane-tilt me-2"></i>
                                    Thêm hợp đồng
                                </button>
                            </div>

                            <div class="col-lg-4">
                                <div class="mb-3">
                                    <label class="form-label">Nhân viên phụ trách:</label>
                                    <select class="form-control select" data-minimum-results-for-search="Infinity">
                                        @if (ViewBag.ContractTypes != null)
                                        {
                                            @foreach (var contracttype in ViewBag.ContractTypes)
                                            {
                                                <option value="@contracttype.Contract_Type_ID">@contracttype.Contract_Type_Name</option>
                                            }
                                        }
                                        else
                                        {
                                            @* <p>Danh sách trống.</p> *@
                                            <option>Danh sách trống</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="Tab2" class="tabcontent">
                    <div class="card">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>STT</th>
                                        <th>Loại dịch vụ</th>
                                        <th>Đơn vị tính</th>
                                        <th>Đơn giá</th>
                                        <th>Số lượng</th>
                                        <th>Thành tiền</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody id="serviceTableBody">
                                    @if (ViewBag.Services != null)
                                    {
                                        int stt = 1;

                                        @foreach (var service in ViewBag.Services)
                                        {
                                            <tr data-stt="@stt">
                                                <td>@stt</td>
                                                <td>@service.Service_Type_Name</td>
                                                <td>@service.Unit</td>
                                                <td>@service.Unit_Price.ToString("N0")</td>
                                                <td>@service.Quantity</td>
                                                <td>@service.Total_Amount.ToString("N0")</td>
                                                <td style="text-align: center;vertical-align: middle; padding: 0px; margin: 0;">
                                                    <a href="#" ng-click="Edit(item.Service_Type_ID);">
                                                        <i class="icon-pencil7 icon-08x" title="Cập nhật"></i>
                                                    </a>
                                                    <a href="#" ng-click="Edit(item.Service_Type_ID);" class="text-danger">
                                                        <i class="icon-bin icon-08x" title="Xóa"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                            stt++;
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td colspan="7">Không có dữ liệu</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="text-end">
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal_form_service">
                            <i class="ph-plus me-2"></i>
                            Thêm Dịch Vụ
                        </button>
                    </div>
                </div>
            </div>

            <div id="Tab3" class="tabcontent">
                <div class="content">
                    <div class="card">
                        <label style="text-align:center">Tên miền</label>
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr style="text-align:center;">
                                        <th>STT</th>
                                        <th>Ngày</th>
                                        <th>Nhân viên phụ trách</th>
                                        <th>Giai đoạn</th>
                                        <th>Đã hoàn thành</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr style="text-align:center">
                                        <td>1</td>
                                        <td>2011/04/25</td>
                                        <td>Biện Anh Pháp</td>
                                        <th>
                                            Triển khai
                                        </th>
                                        <td>
                                            @*<span class="badge bg-danger bg-opacity-10 text-info"
                                            style="--bg-opacity: 1;color: rgba(var(--white-rgb), var(--text-opacity)) !important;background-color: rgba(var(--danger-rgb), var(--bg-opacity)) !important;">
                                            Chưa
                                            ký
                                            </span>*@
                                            <a href="#" id="toggle-a">
                                                <i class="ph-toggle-left" id="toggle-icon"></i>
                                            </a>
                                        </td>
                                        <td style="text-align: center;vertical-align: middle; padding: 0px; margin: 0;">
                                            <a href="#" ng-click="Edit(item.Service_Type_ID);">
                                                <i class="icon-pencil7 icon-08x" title="Cập nhật"></i>
                                            </a>
                                            <a href="#" ng-click="Edit(item.Service_Type_ID);" class="text-danger">
                                                <i class="icon-bin icon-08x" title="Xóa"></i>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="text-end">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal_form_detail">
                        <i class="ph-plus me-2"></i>
                        Thêm Chi Tiết
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- service form modal -->
<div id="modal_form_service" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Nhập thông tin</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <form action="#" class="form-horizontal">
                <div class="modal-body">
                    <div class="row mb-3">
                        <label class="col-form-label col-sm-3">Loại dịch vụ</label>
                        <div class="col-sm-9">
                            <select class="form-control select">
                                @if (ViewBag.ServiceTypes != null)
                                {
                                    @foreach (var serviceType in ViewBag.ServiceTypes)
                                    {
                                        <option value="@serviceType.Service_Type_ID">@serviceType.Name</option>
                                    }
                                }
                                else
                                {
                                    <p>Danh sách loại dịch vụ trống.</p>
                                }
                            </select>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label class="col-form-label col-sm-3">Đơn vị tính</label>
                        <div class="col-sm-9">
                            <select class="form-control select">
                                @if (ViewBag.Unit != null)
                                {
                                    @foreach (var unit in ViewBag.Unit)
                                    {
                                        <option value="@unit.Unit_ID">@unit.Unit</option>
                                    }
                                }
                                else
                                {
                                    <p>Danh sách đơn vị tính trống.</p>
                                }
                            </select>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label class="col-form-label col-sm-3">Giá tiền</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <input type="text" class="form-control numberInput" placeholder="2000000" id="price">
                                <span class="input-group-text">VNĐ</span>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label class="col-form-label col-sm-3">Số lượng</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control numberInput" placeholder="10" id="quantity">
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label class="col-form-label col-sm-3">Tổng tiền</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <input type="text" class="form-control numberInput" placeholder="2000000" id="total" disabled>
                                <span class="input-group-text">VNĐ</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-link" data-bs-dismiss="modal">Đóng</button>
                    <button type="submit" class="btn btn-primary">Lưu</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- /service form modal -->
<!-- detail form modal -->
<div id="modal_form_detail" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Nhập chi tiết</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <form action="#" class="form-horizontal">
                <div class="modal-body">
                    <div class="row mb-3">
                        <label class="col-form-label col-sm-3">Ngày theo kế hoạch</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <span class="input-group-text"><i class="ph-calendar"></i></span>
                                <input type="text" class="form-control daterange-single" value="03/18/2020">
                            </div>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label class="col-form-label col-sm-3">Giai đoạn</label>
                        <div class="col-sm-9">
                            <select class="form-control select">
                                @if (ViewBag.Unit != null)
                                {
                                    @foreach (var unit in ViewBag.Unit)
                                    {
                                        <option value="@unit.Unit_ID">@unit.Unit</option>
                                    }
                                }
                                else
                                {
                                    <p>Danh sách giai đoạn trống.</p>
                                }
                            </select>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label class="col-form-label col-sm-3">Giá tiền</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <input type="text" class="form-control numberInput" placeholder="2000000" id="price">
                                <span class="input-group-text">VNĐ</span>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label class="col-form-label col-sm-3">Số lượng</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control numberInput" placeholder="10" id="quantity">
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label class="col-form-label col-sm-3">Tổng tiền</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <input type="text" class="form-control numberInput" placeholder="2000000" id="total" disabled>
                                <span class="input-group-text">VNĐ</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-link" data-bs-dismiss="modal">Đóng</button>
                    <button type="submit" class="btn btn-primary">Lưu</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- /detail form modal -->
@section jsScript{
    <script src="~/script-handler/create-contract/index-controller.js"></script>
}


@*<script>
    var selectedServiceID;

    $("#openPopup").click(function () {
        openCreatePopup();
    });

    // Hàm đóng popup
    $("#closePopup").click(function () {
        closePopupS();
    });

    $(document).ready(function () {
        $("#saveButton").click(function () {
            var serviceID = selectedServiceID;
            var serviceTypeID = $("#serviceTypeDropdown").val();
            var unitID = $("#unitDropdown").val();
            var unitPrice = parseFloat($("#unitPrice").val().replace(/,/g, ""));
            var quantity = parseFloat($("#quantity").val());
            var totalAmount = unitPrice * quantity;

            var data = {
                Service_ID: serviceID,
                Service_Type_ID: serviceTypeID,
                Unit_ID: unitID,
                Unit_Price: unitPrice,
                Quantity: quantity,
                Total_Amount: totalAmount,
            };


            if (serviceID) {
                $.ajax({
                    url: "/Contracts/Update",
                    type: "POST",
                    dataType: "json",
                    data: data,
                    success: function (data) {
                        alert("Cập nhật dịch vụ thành công!");
                        // Ẩn popup và overlay
                        closePopupS();
                        location.reload();
                    },
                    error: function (error) {
                        console.log("Lỗi khi cập nhật dịch vụ:", error);
                        alert("Lỗi khi cập nhật dịch vụ. Vui lòng kiểm tra console log.");
                    }
                });


            } else {
                $.ajax({
                    url: '/Contracts/Create',
                    type: 'POST',
                    dataType: 'json',
                    data: data,
                    success: function (data) {
                        console.log(data)
                        if (data.objCodeStep.Status === 0) {

                            // Hiển thị thông báo
                            alert("Tạo dịch vụ thành công!");
                            // Ẩn popup và overlay
                            closePopupS();

                            try {
                                var newService = data.Service[0];
                                // Tạo chuỗi HTML cho dòng mới trong bảng
                                var newRow = '<tr>' +
                                    '<td>' + ($('.table.datatable-column-search-inputs.service tbody tr').length + 1) + '</td>' +
                                    '<td>' + newService.Service_Type_Name + '</td>' +
                                    '<td>' + newService.Unit + '</td>' +
                                    '<td>' + newService.Unit_Price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") + '</td>' +
                                    '<td>' + newService.Quantity + '</td>' +
                                    '<td>' + newService.Total_Amount.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") + '</td>' +
                                    '<td>' +
                                    '<a data-serviceid="' + newService.Service_ID + '" href="#" onclick="openEditPopup(' + newService.Service_ID + ')"><i class="fas fa-edit me-1 fa-1x"></i></a>' +
                                    '<span class="icon-space"></span>' + // Khoảng cách giữa hai biểu tượng
                                    '<a href="#" class="delete-link" data-serviceid="' + newService.Service_ID + '" onclick="deleteService(event, ' + newService.Service_ID + ')"><i class="fas fa-trash me-1 fa-1x"></i></a>' +
                                    '</td>' +
                                    '</td>' +
                                    '</tr>';

                                // Thêm dòng mới vào bảng
                                $('.table.datatable-column-search-inputs.service tbody').append(newRow);
                            } catch (ex) {
                                console.log("Lỗi khi thêm dịch vụ vào bảng:", ex);
                            }

                        } else {
                            alert("Vui lòng kiểm tra đầy đủ thông tin ");
                        }
                    },
                    error: function (error) {
                        console.log("Lỗi khi tạo dịch vụ:", error);
                        alert("Lỗi khi tạo dịch vụ. Vui lòng kiểm tra console log.");
                    }
                });
            }
        });
    });
</script>*@

<script>
    $("#toggle-a").on("click", function () {
        // Kiểm tra xem icon hiện tại là "ph-toggle-left" hay "ph-toggle-right"
        if ($("#toggle-icon").hasClass("ph-toggle-left")) {
            // Nếu đúng, chuyển sang "ph-toggle-right"
            $("#toggle-icon").removeClass("ph-toggle-left");
            $("#toggle-icon").addClass("ph-toggle-right");
        } else {
            // Ngược lại, chuyển sang "ph-toggle-left"
            $("#toggle-icon").removeClass("ph-toggle-right");
            $("#toggle-icon").addClass("ph-toggle-left");
        }
    });

    $(document).ready(function () {
        $('.select').select2();
        // Single picker
        $('.daterange-single').daterangepicker({
            parentEl: '.content-inner',
            singleDatePicker: true
        });
    });

    $(document).ready(function () {
        $("#tabtab1").click();
        openTab(event, 'Tab1');

        // Lắng nghe sự kiện thay đổi trong trường "Giá tiền" và "Số lượng"
        $('.numberInput').on('input', function () {
            // Loại bỏ các ký tự không phải số
            $(this).val($(this).val().replace(/\D/g, ''));

            // Lấy giá trị của giá tiền và số lượng
            var price = parseFloat($('#price').val()) || 0;
            var quantity = parseInt($('#quantity').val()) || 0;

            // Tính tổng tiền
            var total = price * quantity;

            // Cập nhật giá trị tổng tiền vào trường "Tổng tiền"
            $('#total').val(total.toLocaleString());
        });
    });

        //var selectedContractID;
        //$(document).ready(function () {
        //    $("#saveButtonC").click(function () {
        //        var contractID = selectedContractID;
        //        var contractTypeID = $("#contractsTypeDropdown").val();
        //        var contractNumber = $("#contractNumber").val();
        //        var customerCompanyName = $("#customerCompanyName").val();
        //        var address = $("#address").val();
        //        var phone = $("#phone").val();
        //        var mobilePhone = $("#mobilePhone").val();
        //        var tin = $("#tin").val();
        //        var email = $("#email").val();

        //        var data = {
        //            Contract_Type_ID: contractTypeID,
        //            Contract_Number: contractNumber,
        //            Customer_Company_Name: customerCompanyName,
        //            Address: address,
        //            Phone: phone,
        //            MobilePhone: mobilePhone,
        //            TIN: tin,
        //            Email: email
        //        };

        //        $.ajax({
        //            url: '/Contracts/CreateContract',
        //            type: 'POST',
        //            dataType: 'json',
        //            data: data,
        //            success: function (data) {

        //                if (data.objCodeStep.Status === 0) {
        //                    alert("Tạo mới thành công!");
        //                    console.log(data);


        //                    // Lấy Contract_ID mới tạo
        //                    var newContractID = data.Contract[0].Contract_ID;
        //                    console.log(newContractID);

        //                } else {
        //                    alert("Vui lòng kiểm tra đầy đủ thông tin ");
        //                }
        //            },
        //            error: function (error) {
        //                console.log("Lỗi khi tạo dịch vụ:", error);
        //                alert("Lỗi khi tạo dịch vụ. Vui lòng kiểm tra console log.");
        //            }
        //        });
        //    });
        //});
</script>
<script src="~/assets/js/site.js"></script>
<script src="~/assets/js/createcontract.js"></script>